version: "3"
networks:
  net:
    driver: overlay
  traefik:
    external:
      name: traefik_net
volumes:
  prometheus:
services:
  server:
    image: {{ prometheus_image }}:{{ prometheus_version }}
    networks:
      - net
      - traefik
    volumes:
      # Configuration
      - "/etc/prometheus.yml:/etc/prometheus/prometheus.yml"
      - "{{ consul_client_ca_file }}:/etc/ssl/certs/consul/ca.pem:ro"
      - "{{ consul_client_cert_file }}:/etc/ssl/certs/consul/cert.pem:ro"
      - "{{ consul_client_key_file }}:/etc/ssl/certs/consul/key.pem:ro"
      # Data Volumes
      - "prometheus:/prometheus"
      # Extra CAs from our architecture
      - "/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem:/etc/ssl/certs/ca-certificates.crt:ro"
    deploy:
      mode: global
      placement:
        constraints: {{ prometheus_stack_constraints|to_yaml }}
      labels:
        traefik.port: 9090
        traefik.frontend.rule: "Host:prometheus.{{ local_domain_name }}"
        traefik.backend.loadbalancer.sticky: "true"
        traefik.docker.network: traefik_net
