root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# python configuration
[*.py]
indent_style = space
indent_size = 4

# yaml configuration
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# vagrantfile (official indentation scheme)
[Vagrantfile]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
