[Unit]
Description=Teleport SSH Service
After=network.target

[Service]
Environment=SSL_CERT_FILE={{ teleport_ca_file }}
Type=simple
Restart=on-failure
ExecStart=/usr/bin/teleport start --config=/etc/teleport.yaml --pid-file=/var/run/teleport.pid
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/var/run/teleport.pid

[Install]
WantedBy=multi-user.target