version: "3"
networks:
  net:
    driver: overlay
services:
  lb:
    image: {{ traefik_image }}
    command: >
      --web
      --logLevel=WARNING
      --docker
      --docker.swarmmode
      --docker.domain={{ traefik_domain }}
      --docker.watch
      --consul.endpoint=consul.service.{{ local_domain_full }}:8500
      --consul.tls.ca=/etc/ssl/certs/consul/ca.pem
      --consul.tls.cert=/etc/ssl/certs/consul/cert.pem
      --consul.tls.key=/etc/ssl/certs/consul/key.pem
    ports:
      - 80:80
      - 8080:8080
    networks:
      - net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      # Consul client certificates
      - "{{ consul_client_ca_file }}:/etc/ssl/certs/consul/ca.pem:ro"
      - "{{ consul_client_cert_file }}:/etc/ssl/certs/consul/cert.pem:ro"
      - "{{ consul_client_key_file }}:/etc/ssl/certs/consul/key.pem:ro"
      # Extra CAs from our architecture
      - "/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem:/etc/ssl/certs/ca-certificates.crt:ro"
    deploy:
      mode: global
      placement:
        constraints:
          - engine.labels.dawn.node.type == edge
