version: "3"
networks:
  net:
    driver: overlay
services:
  lb:
    image: {{ traefik_image }}
    command: --web --docker --docker.swarmmode --docker.domain={{ traefik_domain }} --docker.watch --consul.endpoint=consul.service.{{ local_domain_full }}:8500
    ports:
      - 80:80
      - 8080:8080
    networks:
      - net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      mode: global
      placement:
        constraints:
          - engine.labels.dawn.node.type == edge
