{
  "data_dir": "/var/lib/consul",
  "log_level": "INFO",
  "ui": {{ (inventory_hostname in groups["edge"])|bool|to_json }},
  "client_addr": "{{ private_ipv4 }}",
  "advertise_addr": "{{ private_ipv4 }}",
  "bind_addr": "{{ private_ipv4 }}",
  "datacenter": "{{ consul_datacenter }}",
  "domain": "{{ consul_domain }}",
  "retry_join": {{ group_ipv4.consul|list|to_json }},
  "disable_remote_exec": true,
  "rejoin_after_leave": true,
  "dns_config": {
    "allow_stale": false
  },
  "server": true,
  "bootstrap_expect": {{ group_ipv4.consul|list|length }},
  "performance": {
    "raft_multiplier": 3
  },
  "addresses": {
    "http": "127.0.0.1",
    "https": "{{ private_ipv4 }}"
  },
  "ports": {
    "http": 8500,
    "https": 8500
  },
  "key_file": "{{ consul_key_file }}",
  "cert_file": "{{ consul_cert_file }}",
  "ca_file": "{{ consul_ca_file }}",
  "verify_incoming": true,
  "verify_outgoing": true
}
