version: "3.2"
networks:
  net:
    driver: overlay
services:
  lb:
    image: {{ traefik_image }}
    command: >
      --cluster.node="{{ inventory_hostname }}"
      {{ traefik_extra_args|default("") }}
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
      - target: 8080
        published: 8080
        protocol: tcp
        mode: host
    networks:
      - net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      # Configuration
      - "{{ traefik_config_file }}:/etc/traefik/traefik.toml:ro"
      # Consul client certificates
      - "{{ consul_client_ca_file }}:/etc/ssl/certs/consul/ca.pem:ro"
      - "{{ consul_client_cert_file }}:/etc/ssl/certs/consul/cert.pem:ro"
      - "{{ consul_client_key_file }}:/etc/ssl/certs/consul/key.pem:ro"
      # HTTPs server certificates
      - "{{ https_ca_file }}:/etc/ssl/certs/https/ca.pem:ro"
      - "{{ https_cert_file }}:/etc/ssl/certs/https/cert.pem:ro"
      - "{{ https_key_file }}:/etc/ssl/certs/https/key.pem:ro"
      # Extra CAs from our architecture
      - "/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem:/etc/ssl/certs/ca-certificates.crt:ro"
    deploy:
      mode: global
      placement:
        constraints: {{ traefik_stack_constraints|to_yaml }}
